name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.12
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: |
        go get -v -t -d ./...
        go get -v -u github.com/jstemmer/go-junit-report
        go get -v -u github.com/t-yuki/gocover-cobertura
        go get -v -u golang.org/x/lint/golint
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    - name: Coverage
      run: |
        go test -v -coverprofile=cover.out ./...
        go tool cover -html=cover.out -o coverage.html
        gocover-cobertura < cover.out > coverage.xml

    - name: Lint
      run: golint ./...

    - name: Vet
      run: go vet -v ./...

